.about {
    margin-top: 50px;
    margin-bottom: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_content {
    width: 50%;
}
.Head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.about h1, hr {
    font-weight: 100;
    color: #000000;
    font-size: 60px;
}

.about p {
    font-size: 30px;
    font-weight: 100;
}

.image {
    height: 300px;
    width: 350px;
}
.about-image {
    object-fit: cover;
    border-style: solid;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%) inset, 0 5px 10px 5px rgb(0 0 0 / 25%);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.about-image:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}

.about-image:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
}
    .button:hover {
        border-color: #000000;
        background: #f7f7f7;
    }
